.page-not__found{    
    text-align: center;
    margin-top: 2rem;    
}

.icon-exclamation{
    margin-bottom: 1rem;       
}

.page-not__found h2{    
    position: absolute;
    font-family: fantasy;
    top:16%;
    left: 37%;
    font-size: 15rem;
    color: rgba(128, 128, 128, 0.301);
    z-index: -10;
}

.page-not_found--body{    
    position: absolute;
    top:57%;
    left:31%;    
    z-index: 2;
}

.page-not_found--body h3{
    font-weight: 700;
    font-size: 30px;
}

.page-not_found--body h5{
    color: rgba(66, 61, 61, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.page-not_found--body Button{
    border-radius: 20px;    
    margin-top: 10px;
    padding: 7px 15px;
    font-weight: 400;        
}