.todolist-items {
  display: flex;
  border-radius: 3px;
  background: rgba(229, 229, 250, 0.342);
  border: 1px solid rgba(0, 0, 0, 0.123);
  height: 55px;
  margin-left: 2%;
  margin-right: 2%;
}

.todolist-items:hover {
  background: rgba(229, 229, 250, 0.808);
}

.todolist-item__title {
  font-size: 1.3rem;
  width: 70%;
  align-items: center;
}

@media (max-width: 40rem) {
  .todolist-item__title {
    width: 65%;
    margin-top: 2%;
  }
}

.todolist-item__title > h3 {
  font-family: inherit;
  text-align: start;
  font-size: 1.2rem;
  margin: 2% 2% 1% 6%;
}

@media (max-width: 52rem) {
  .todolist-item__title > h3 {
    font-size: 1rem;
    margin-top: 5%;
  }
}

@media (max-width: 40rem) {
  .todolist-item__title > h3 {
    font-size: 0.8rem;
  }
}

@media (max-width: 25rem) {
  .todolist-item__title > h3 {
    font-size: 0.6rem;
  }
}

.todolist-item__date {
  width: 20%;
  align-items: center;
}

.todolist-item__date > h5 {
  margin: 5%;
  margin-top: 7%;
  text-align: end;
  color: gray;
  align-items: flex-end;
  font-size: 1.1rem;
  margin-left: auto;
  border-radius: 30px;
}

@media (max-width: 60rem) {
  .todolist-item__date > h5 {
    margin-top: 10%;
  }
}

@media (max-width: 52rem) {
  .todolist-item__date > h5 {
    font-size: 0.9rem;
    margin-top: 15%;
  }
}

@media (max-width: 40rem) {
  .todolist-item__date > h5 {
    font-size: 0.8rem;
    margin-top: 20%;
  }
}

@media (max-width: 25rem) {
  .todolist-item__date > h5 {
    font-size: 0.6rem;
  }
}

.todolist-item__icons {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 44rem) {
  .todolist-item__icons {
    font-size: 0.8rem;
    text-align: end;
  }
}

@media (max-width: 25rem) {
  .todolist-item__icons {
    font-size: 0.5rem;
    text-align: end;
  }
}

.list-group__edit {
  margin: 10%;
  width: 50%;
}

.list-group__delete {
  margin: 10%;
  width: 50%;
}
