.list-group__container {
  display: flex;
  justify-content: space-around;
  background: rgb(247, 247, 247);    
}

.todolist-items {
  display: flex;
  border-radius: 3px;
  background: rgba(229, 229, 250, 0.342);
  border: 1px solid rgba(0, 0, 0, 0.123);
  height: 55px;
  margin-left: 2%;
  margin-right: 2%;  
}

.todolist-items:hover {
  background: rgba(229, 229, 250, 0.808);
}

.todolist-items button {
  margin-left: 100px;
  margin-top: 5px;
  height: 45px;
  width: 80px;
  font-size: medium;
  font-style: bold;
  background: rgb(168, 20, 20);
  color: white;
  font-size: medium;
}

.todolist-item__title {
  font-size: 1.3rem;
  width: 70%;
}

@media (max-width: 40rem) {
  .todolist-item__title {
    width: 65%;
    margin-top: 2%;
  }
}

.todolist-item__title > h3 {
  font-family: inherit;
  text-align: start;
  font-size: 1.2rem;
  margin: 2% 2% 1% 6%;
}

@media (max-width: 52rem) {
  .todolist-item__title > h3 {
    font-size: 1rem;
  }
}

@media (max-width: 40rem) {
  .todolist-item__title > h3 {
    font-size: 0.8rem;
  }
}

@media (max-width: 25rem) {
  .todolist-item__title > h3 {
    font-size: 0.6rem;
  }
}

.todolist-item__date {
  width: 20%;
}

.todolist-item__date > h5 {
  margin: 5%;
  margin-top: 7%;
  text-align: end;
  color: gray;
  align-items: flex-end;
  font-size: 1.1rem;
  margin-left: auto;
  border-radius: 30px;
}

@media (max-width: 52rem) {
  .todolist-item__date > h5 {
    font-size: 0.9rem;
  }
}

@media (max-width: 40rem) {
  .todolist-item__date > h5 {
    font-size: 0.8rem;
  }
}

@media (max-width: 25rem) {
  .todolist-item__date > h5 {
    font-size: 0.6rem;
  }
}

.todolist-item__delete {
  width: 10%;
}

@media (max-width: 44rem) {
  .todolist-item__delete {
    font-size: 0.9rem;
    text-align: end;
  }
}

@media (max-width: 25rem) {
  .todolist-item__delete {
    font-size: 0.7rem;
    text-align: end;
  }
}

.list-group__icon {
  margin: 15%;
}
