.form-login__container {
  border-radius: 5px;
  position: fixed;
  top: 20%;
  left: 32%;
  width: 35%;
  height: 54%;
  padding: 0 20px;
  box-shadow: 2px 2px 2px 2px rgb(178, 177, 224);
}

@media (max-width: 52rem) {
  .form-login__container {
    top: 20%;
    left: 25%;
    width: 55%;
    height: 50%;
  }
}

@media (max-width: 52rem) {
  .form-login__container {
    height: 50%;
  }
}

.form-login__container > h3 {
  text-align: center;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

@media (max-width: 52rem) {
  .form-login__container > h3 {
    font-size: 1.2rem;
  }
}

.form-login__email {
  padding: 5px 20px;
}

.form-login__email--label {
  font-size: large;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 52rem) {
  .form-login__email--label {
    font-size: 0.9rem;
  }
}

@media (max-width: 52rem) {
  ::placeholder {
    font-size: 1rem;
  }
}

.form-login__password {
  padding: 5px 20px;
}

.form-login__password--label {
  font-size: large;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 52rem) {
  .form-login__password--label {
    font-size: 0.9rem;
  }
}

.form-login__button {
  position: absolute;
  width: 83%;
  height: 45px;
  bottom: 20px;
  left: 9%;
}

@media (max-width: 52rem) {
  .form-login__button {
    position: absolute;
    width: 82%;
    height: 45px;
    bottom: 20px;
    left: 9%;
    top: 80%;
  }
}

@media (max-width: 40rem) {
  .form-login__button {
    width: 75%;
    left: 12%;
  }
}
