.todolist-form__input{
    width:410px;
    height: 50px;    
    margin-bottom: 4px;
    margin-top: 8px;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.534);

}
::placeholder{
    padding-left: 20px ;
    font-size: large;
}
.todolist-form__input[type="text"]{
    font-size: 20px;
    /* font-family: serif; */

}

.todolist-form__search{
    width: 95%;
    height: 45px;;
    margin-top: 6px;


}
.todolist-form__search[type="text"]{
    font-size: 20px;
    border-bottom: 2px solid grey;
    /* font-family: serif; */

}
.todolist-form__submit{
    width:100px;
    margin-left: 10px;
    margin-bottom: 5px;
    height: 55px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background: rgb(30, 136, 66);
    font-size: large;
    font-family: sans-serif;
    
    
}
.todolist-form__submit:hover{
    background: rgb(29, 11, 71);
    color: rgb(241, 241, 248);
}

.todolist-form__clear{
    position: relative;
    left: 220px;
    height: 2.7rem;
    width: 6rem;
    margin-right: 20px;
    /* margin: 5px; */
    margin-bottom: 10px;    
    /* width:95%;
    margin-left: 5px;
    
    margin-top: 8px;
    height: 42px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background: rgb(184, 6, 6);
    font-size: large;
    font-family: sans-serif; */
    
    
}

.list-group__task{
    display: inline-flexbox;
    width: 430px;;
    margin: 3px;;
    margin-left: 14px;;
    
}
.list-group__button{
  position:absolute;
  color:white;
  right: 420px;
}
.list-group__task tbody{
    width: 20%;
      
  }
.list-group__task tr{
    padding: 0px;
    margin: 0px;
      
  }

