

.todolist-form__clear{
    position: relative;
    /* left: 225px; */
    left: 41%;
    height: 2.7rem;
    width: 6rem;
    margin-right: 20px;    
    margin-bottom: 7px;  
}

.list-group__task{
    display: inline-flexbox;
    width: 430px;;
    margin: 3px;;
    margin-left: 14px;;
    
}
.list-group__button{
  position:absolute;
  color:white;
  right: 420px;
}

