
.list-group__task{
    display: inline-flexbox;
    width: 430px;;
    margin: 3px;;
    margin-left: 14px;;
    
}
.list-group__button{
  position:absolute;
  color:white;
  right: 420px;
}

.todolist-container{
  /* background: rgba(241, 235, 235, 0.315); */
  /* margin: 0 %; */
}

