.navbar-list__item{
    background: rgb(56, 56, 129);
    height: 60px;;
    
}

.navbar-list__item h1{
    margin: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.navbar-header{
    height: 65px;    
}

.navbar-header_item{
    margin-left: 400px;        
    font-size: small;
}

.navbar-header_link{  
    position: relative;      
    left: 500px;
    margin-bottom: 2px;   
    font-size: 20px;
    color: white;
    font-weight: 400;
}