.todolist-form{
    width: 95%;
  display: flex;
  margin:auto;
  justify-content: center;
}

.todolist-form__input{
    width:410px;
    height: 50px;    
    border-radius: 2px;
    border: 1px solid rgba(5, 5, 5, 0.534);

} 

.todolist-form__input[type="text"]{
    font-size: 20px;    
}

::placeholder{
    padding-left: 20px ;
    font-size: large;
}

.todolist-form__submit{    
    margin:auto;    
    margin-left: 4px;
    width:110px; 
    height: 50px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background: rgb(20, 129, 56);
    font-size: large;
    font-family: sans-serif;  
}

.todolist-form__search{
    margin: 5px;
    width: 95%;
    height: 55px;   
}

.todolist-form__search[type="text"]{
    font-size: 20px;
    border-bottom: 2px solid grey;    

}

.todolist-form__submit:hover{
    background: rgb(7, 41, 17);
    color: rgb(241, 241, 248);
}
