.tasknotadded {
  margin: auto;
  border: 2px solid rgba(229, 229, 250, 0.342);
  margin-top: 3%;
  height: 12rem;
  width: 70%;
  background: rgba(229, 229, 250, 0.342);
}

.tasknotadded > h3 {
  text-align: center;
  margin-top: 6%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 52rem) {
  .tasknotadded > h3 {
    margin-top: 10%;
    font-size: 1.3rem;
  }
}

@media (max-width: 44rem) {
  .tasknotadded > h3 {
    margin-top: 15%;
    font-size: 1.1rem;
  }
}

@media (max-width: 25rem) {
  .tasknotadded > h3 {
    margin-top: 20%;
    font-size: 0.9rem;
  }
}

.tasknotadded > h4 {
  text-align: center;
  margin-top: 4%;
  font-family: sans-serif;
  font-size: 1.3rem;
}

@media (max-width: 52rem) {
  .tasknotadded > h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 44rem) {
  .tasknotadded > h4 {
    font-size: 1rem;
  }
}

@media (max-width: 25rem) {
  .tasknotadded > h4 {
    font-size: 0.9rem;
  }
}
